@use '@/shared/styles/typography/typography.module' as typo;


.root {
  border-radius: 12px;
  padding: 12px 16px;
  @include typo.b3;
}

.success {
  background-color: var(--color-lime);

}

.error {
  background-color: var(--bg-danger);
  color: var(--text-default)
}

.default {
  background-color: var( --bg-inverted);
 color: var(--text-default)
}