[data-theme='dark'] {
  /* Background */
  --bg-primary: var(--blue-400);
  --bg-primary-low: var(--blue-100);
  --bg-primary-hover: var(--blue-400);
  --bg-secondary: var(--blue-200);
  --bg-blured: var(--gray-500-light);
  --bg-inverted: var(--gray-0);
  --bg-contrast: var(--gray-200-light);
  --bg-success: var(--green-500);

  --bg-disabled: var(--gray-300);
  --bg-danger: var(--red-100);
  --bg-danger-hover: var(--red-100);
  --bg-ghost: var(--gray-200);
  --bg-body: var(--gray-100);

  /* Text */
  --text-primary: var(--gray-0);
  --text-link: var(--blue-400);
  --text-suptitle: var(--gray-300);
  --text-subtitle: var(--gray-400-light);
  --text-default: var(--gray-100-light);
  --text-contrast: var(--gray-300-light);
  --text-secondary: var(--gray-800);
  --text-inverted: var(--gray-500);
  --text-placeholder: var(--gray-700);
  --text-danger: var(--red-100);
  --text-success: var(--green-500);

  /* Border */
  --border-primary: var(--gray-0);
  --border-danger: var(--red-100);
  --border-success: var(--green-500);
  --border-default: var(--gray-200);

  /* Spinners */
  --spinner-primary: var(--gray-0);
  --spinner-ghost: var(--blue-300);

  /* Icons */
  --icon-primary: var(--gray-800);
  --icon-secondary: var(--gray-200);

  /* Skeletons */
  --skeleton-100: var(--gray-100);
  --skeleton-200: var(--gray-200);
  --skeleton-300: var(--gray-300);
  --skeleton-400: var(--gray-800);
}
