@mixin h1 {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 48px;
}

@mixin h2 {
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 36px;
}

@mixin h3 {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

@mixin h4 {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

@mixin h5 {
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

@mixin b1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

@mixin b2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

@mixin b3 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

@mixin p1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

@mixin p2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@mixin p3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
}
